@media all
and (min-width: 980px)
and (max-width: 1023px) {
 
body {
	margin: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 980px;
}

/*menu styles*/

.menu{
	padding: 26px 14px 21px;
	background-color: #373c3f;
}
li{
	font-family: 'Montserrat', sans-serif;
	color: #ebebeb;
	font-size: 15px;
	text-transform: uppercase;
	list-style-type: none;
	display: inline-block;
	letter-spacing: 0px;
}
li:nth-child(2){
	padding: 0px 0px 0px 26px;
}
li:nth-child(3){
	padding: 0px 0px 0px 24px;
}
li:nth-child(4){
	padding: 0px 0px 0px 27px;
}
li:nth-child(5){
	padding: 0px 0px 0px 27px;
}

/*navigation styles*/
.navigation{
	display: none;
}

/*first-item styles*/
.first-item{
	background-color: #0b9eb5;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
h1{
	margin: 0px;
	/*980*/padding: 180px 0px 0px 81px;
	font-size: 60px;
	/*980*/letter-spacing: 1px;
	line-height: 66px;
	font-weight: 400;
}
h1 span:nth-child(2){
	font-size: 59px;
}
.first-item-discr{
	display: flex;
	flex-direction: row;
}
.first-item-discr-website{
	color: #a9d4dd;
	display: inline-block;
	/*980*/margin: 38px 24px 154px 79px;
	font-size: 36px;
	/*980*/ letter-spacing: -1px;
}
.first-item-discr-nextItem{
	/*980*/margin: 33px 0px 0px 295px;
	/*980*/font-size: 47px;
}

/*second-item styles*/

.second-item{
	display: flex;
	flex-direction: row;
}
.second-item-text{
	/*980*/padding: 101px 153px 0px 83px;
	/*980*/font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #27212c;
	color: #9585a4;
	/*980*/letter-spacing: 0px;
}
.second-item-nextItem{
	/*980*/padding: 76px 101px 88px 93px;
	font-size: 61px;
	background-color: #bc3183;
	color: #fff;
}

/*img-item styles*/

.img-item{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: hidden;
}
.img-item-nextItem{
	color: #fff;
	/*980*/padding: 105px 153px 119px 155px;
	font-size: 50px;
	background-color: #5b0fa1;
}
/*new*/
.img-item-bridge{
	width: 327px;
	height: 282px;
	overflow: hidden;
	background-image: url(../img/bridge-980.png);
	background-position: 0px -2px;
	background-repeat: no-repeat;
}
/*new*/
.img-item-girl{
	width: 327px;
	height: 282px;
	overflow: hidden;
	background: url(../img/girl-980.png) 0px -2px no-repeat;
}


/*text-bar styles*/

.text-bar{
	background-color: #ebebeb;
	padding: 17px 5px 100px 81px;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	letter-spacing: 0px;
	color: #088ca5;
}
.text-bar-table{
	display: flex;
	flex-direction: row;
}
h3{
	margin: 46px 0px 0px -7px;
	font-weight: 500;
	font-size: 30px;
}

.text-bar-table-col:nth-child(1){
	font-size: 14px;
	font-weight: 600;
	color: #515151;
	letter-spacing: 0px;
	line-height: 26px;
	margin: 0px 0px 0px 2px;
}
.text-bar-table-col:nth-child(2){
	font-size: 14px;
	font-weight: 600;
	color: #515151;
	letter-spacing: 0px;
	line-height: 26px;
	margin: 0px 0px 0px -6px;
}
.first-par{
	margin: 0px 0px 0px -4px;
	padding: 17px 80px 0px 0px;
}
.second-par{
	margin: 26px 0px 0px -4px;
	padding: 31px 85px 0px 0px;
}

}
